/**
* * Forecast
*/
.forecast {
    padding: 80px 0;
}

/**
* * Card Forecast
*/
.card-forecast {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: .4s;
    animation: forecast-load 1s ease-in;

    .card__left,
    .card__clouds {
        display: flex;
        align-items: center;
    }

    .card__day {
        width: 170px;
    }

    .card__temperature {
        width: 380px;
        display: flex;
        align-items: center;

        p {
            font-size: 30px;
            margin-left: 20px;
        }
    }

    .card__image {
        margin-right: 20px;
    }

    .card__clouds {
        width: 80px;

        i {
            margin-right: 10px;
        }
    }

    @media (max-width: 1024px) {
        display: block;

        .card__left {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        .card__day {
            width: 100%;
        }

        .card__temperature {
            margin: 0 auto;
        }

        .card__image {
            margin: 0;
        }
        
        .card__clouds {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    @media (max-width: 768px) {
        .card__temperature {
            display: block;
            width: 100%;
            
            p {
                margin: 0;
            };
        }
    }
}

@keyframes forecast-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}