/**
* * Section Search
*/
.section-search {
    padding-top: 30px;

    .section__inner {

    }
}

/**
* * Search Form
*/
.search-form {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    border-radius: 10px;
    transition: .2s;
    
    input {
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        padding: 15px 15px;
        font-size: 20px;
        color: #fff;
    }

    input::placeholder {
        color: #cdcdcd;
    }

    &:focus-within {
        background-color: rgba(0, 0, 0, 0.4);
    }

    i {
        color: #cdcdcd;
    }
}